<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caocaorbac.mapper.RoleMapper">

    <select id="getRoleByUserID" resultMap="RoleResultMap">
        select id, tenant_id, role_name, role_code from Role where id in (select role_id from User_Role
                                                            where user_id=#{user_id})
    </select>

    <resultMap id="RoleResultMap" type="com.caocaorbac.pojo.Role">
        <id column="id" property="role_id"></id>
        <result column="role_name" property="role_name"></result>
        <result column="role_code" property="role_code"></result>
        <result column="tenant_id" property="tenant_id"></result>

<!--        <collection column="role_id" property="" select="com.caocaorbac.mapper.MenuMapper."-->

    </resultMap>




</mapper>